{% load static %}
<footer>
    <div class="w-100 style1 pt-50 bg-color7 pb-60 position-relative">
        <div class="container">
            <div class="footer-data w-100">
                <div class="row justify-content-center mrg30">
                    <div class="col-md-4 col-sm-4 col-lg-4 col-12">
                        <div class="widget-box w-100">
                            <h4 class="widget-title position-relative">Quick Links</h4>
                            <!--<ul class="contact-info-list mb-0 list-unstyled w-100">
                                <li><span>Contact No:</span>+123 456 7890</li>
                                <li><span>Email ID:</span><a href="mailto:info@medmlanalytics.com" title="">info@medmlanalytics.com</a></li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            </ul>-->
                            <ul class="mb-0 list-unstyled w-100">
                                <li><a href="/">Home</a></li>
                                <!--<li><a href="<?=$lnk_site_root?>/our-team/">Our Team</a></li>
                                <li><a href="<?=$lnk_site_root?>/feedback/">Feedback</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-12">
                        <div class="widget-box w-100">
                            <h4 class="widget-title position-relative">Service Models</h4>
                            <ul class="mb-0 list-unstyled w-100">
                                <li><a href="/neural-analysis-model/" title="ANCHOR">ANCHOR</a></li>
                                <li><a href="#" title="">Another Model - Coming Soon</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- Footer Data -->
        </div>
    </div>
</footer><!-- Footer -->
<div class="bottom-bar bg-color8 w-100">
    <div class="container">
        <div class="copyright-links">
            <p>&copy; Copyright 2022, All Rights Reserved.</p>
        </div>
    </div>
</div><!-- Bottom Bar -->
</main><!-- Main Wrapper -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/jquery.jform.js' %}"></script>
<script src="{% static 'js/highlight.min.js' %}"></script>
<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/Inputs.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
<script>siteroot="/static";</script>
<script src="{% static 'js/custom-scripts.js' %}"></script>
</body>	
</html>